<h1>Editing personal book</h1>

<%= render "form", personal_book: @personal_book %>

<br>

<div>
  <%= link_to "Show this personal book", @personal_book %> |
  <%= link_to "Back to personal books", personal_books_path %>
</div>
