<h1>Editing personal author</h1>

<%= render "form", personal_author: @personal_author %>

<br>

<div>
  <%= link_to "Show this personal author", @personal_author %> |
  <%= link_to "Back to personal authors", personal_authors_path %>
</div>
