<footer>
<nav>
  <ul>
    <li><a>home</a></li>
    <li><a>library</a></li>
    <li><a>curations</a></li>
  </ul>
  <ul>
    <li><a>option</a></li>
    <li><a>more pages</a></li>
    <li><a>see me here?</a></li>
  </ul>
</nav>
<div id="paris" alt="ink drawing of Paris by du Bois"></div>
</footer>